<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stafford_Uni_Management.Properties.Settings.TithiConnectionString"
            connectionString="Data Source=DESKTOP-2ORO7LR\SQLEXPRESS;Initial Catalog=Tithi;User ID=Tithi;Password=tithira@sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>